NODE_ENV=development
PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/yappy
JWT_SECRET=replace_this_with_a_long_random_secret
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
# frontend origins
ALLOWED_ORIGINS=http://localhost:5173
# for staging/production 
#ALLOWED_ORIGINS=http://localhost:5173,https://staging.yappy.com,https://yappy.com